@import '../../../../styles/Home.module.scss';
@import '../../../../styles/buttons.module.scss';

.bmi_container {
  @extend .dashboard_style;

  display: flex;
  flex-direction: column;
  p {
    padding: 0 2rem 2rem 2rem;
  }
  form {
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
  }
}

.bmi_button {
  @extend .button_type1;
}
