@import '../../../../styles/Home.module.scss';
@import '../../../../styles/buttons.module.scss';
@import '../../../../styles/inputs.module.scss';

.bmi_container {
  @extend .dashboard_style;

  display: flex;
  flex-direction: column;
  p {
    padding: 0 2rem 2rem 2rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 145%;

    color: var(--light-black-color);
  }
  form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      margin: 2rem 0;

      input {
        @extend .input_type1;
        margin: 0 2rem;
      }
      select {
        @extend .input_type1;
        margin: 0 2rem;
      }
    }
  }
}

.bmi_button {
  @extend .button_type2;
  width: 400px;
}
