.auth_navbar {
  width: 100%;
  height: 5rem;
  background-color: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    padding: 1rem;
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;

      .logo_pic {
        width: auto;
        height: 40px;
        margin: 0.4rem;
      }

      .logo_fit_pic {
        width: auto;
        height: 2.5rem;
        margin: 0.4rem;
      }
    }
    svg {
      width: 40px;
      height: 100%;
      color: var(--white-color);
    }
  }
}

.icon_menu {
  width: 50px;
  align-items: flex-end;
}

.icon_x {
  align-self: flex-end;
}

.list_links {
  background-color: var(--white-color);
}
