.auth_navbar {
  width: 100%;
  height: 5rem;
  background-color: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.7rem;

  div {
    padding: 1rem;
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;

      .logo_pic {
        width: auto;
        height: 40px;
        margin: 0.4rem 0;
        padding-right: 0.5rem;
      }

      .logo_fit_pic {
        width: auto;
        height: 2.5rem;
        margin: 0.4rem 0;
        padding-left: 0.5rem;
      }
    }
  }
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 35px;
    height: 100%;
    color: var(--white-color);
  }
}
.element {
  &.hidden {
    display: none;
  }
}
.list_container {
  position: fixed;
  top: 5rem;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: var(--white-color);
}
.list_links {
  text-decoration: none;
  color: var(--black-color);
}
