.main_sidebar {
  height: 100%;
  width: 7rem;
  position: fixed;
  background-color: var(--orange-color);
  display: flex;
  flex-direction: column;

  img {
    margin: 2rem;
  }
}
.main_navbar {
  width: 100%;
  height: 5rem;
  position: fixed;
  background-color: var(--black-color);
  display: flex;
  margin-left: 7rem;
}
