.home_page {
  display: flex;
  width: 100%;

  .header_left {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    margin: 5rem;
    height: 100%;

    div {
      width: 500px;

      font-weight: bold;
      font-size: 60px;
      line-height: 80px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: capitalize;

      color: var(--black-color);
    }
    .header_button {
      height: 70px;
      width: 200px;
      font-family: 'Montserrat';
      font-weight: 900;
      font-size: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      text-transform: uppercase;

      background-color: var(--orange-color);
      color: var(--white-color);
    }
  }

  .header_right {
    img {
      width: auto;
    }
  }
}
