.input_type1 {
  height: 80px;
  width: 400px;
  font-family: 'Montserrat';
  font-size: 30px;
  background-color: transparent;
  color: var(--light-black-color);

  display: flex;
  align-items: center;
  text-align: center;

  cursor: text;
  border-color: var(--gray-color);
}
